@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

html {
    overflow-x: hidden;
    font-family: 'Libre Franklin', sans-serif;
}

  .hero-shape {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  }

.box-white {
    border-radius: 0 0 100% 0;
    width: 105%;
}

.box-green {
    border-radius: 0 0 90% 0;
    width: 110%;
}

.curve-white {
    border-radius: 0 0 100% 90%;
}

.curve-green {
    border-radius: 0 0 100% 100%;
}

.btn:hover .btn__slide {
    width: calc(100% + 15px);
  }
  

